<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Mr Faulty</display-name>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>frontpage</servlet-name>
    <jsp-file>/frontpage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>frontpage</servlet-name>
    <url-pattern>/Faulty/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <jsp-file>/Register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/Faulty/Registration/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.faulty.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Faulty/Login/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CurrentBugs</servlet-name>
    <jsp-file>/currentBugs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentBugs</servlet-name>
    <url-pattern>/Faulty/CurrentBugs/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitRegistration</servlet-name>
    <servlet-class>com.faulty.controller.SubmitRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRegistration</servlet-name>
    <url-pattern>/Faulty/SubmitRegistration/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitReport</servlet-name>
    <jsp-file>/submitReport.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReport</servlet-name>
    <url-pattern>/Faulty/SubmitReport/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitBugReport</servlet-name>
    <servlet-class>com.faulty.controller.SubmitBugReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitBugReport</servlet-name>
    <url-pattern>/Faulty/SubmittingReport/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.faulty.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Faulty/Logout/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersBugReports</servlet-name>
    <jsp-file>/UsersBugReports.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersBugReports</servlet-name>
    <url-pattern>/Faulty/MyBugs/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BugDetail</servlet-name>
    <jsp-file>/InduvidualBug.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugDetail</servlet-name>
    <url-pattern>/Faulty/Bug/*</url-pattern>
  </servlet-mapping>
</web-app>